<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body class="bg-light">
   <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Нурхат черт</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="{% if request.endpoint=='index'%} nav-link active {% else %} nav-link {% endif %}" aria-current="page">Index</a></li>
        <li class="nav-item"><a href="/create" class="{% if request.endpoint=='create'%} nav-link active {% else %} nav-link {% endif %}">Create</a></li>
        <li class="nav-item"><a href="/admin" class="{% if request.endpoint=='admin'%} nav-link active {% else %} nav-link {% endif %}">Admin</a></li>
      </ul>
    </header>
  </div>
  {% block body %}{% endblock %}
</body>
</html>