{% extends 'base.html' %}


{% block title %}Create Page{% endblock %}


{% block body %}
<div class="container">
    <form action="/create" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Введите название трек-кодов" aria-label="Введите название трек-кодов" aria-describedby="button-addon2" name="title">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Добавить</button>
        </div>
    </form>
</div>
{% endblock %}