{% extends 'base.html' %}

{% block title %}
    Point change
{% endblock %}


{% block body %}
<div class="container">
    <h1>Point change</h1>
    <form method="POST">
         <div class="col-md-5">
            <label for="point" class="form-label">Country</label>
            <select class="form-select" id="point" required="" name="point" value="{{ piar.point if piar else '' }}">
                <option value="">Choose...</option>
                <option>Китай</option>
                <option>Алматы</option>
                <option>Атырау</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid country.
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Обновить" style="margin-top: 1rem">
        <button type="button"
               class="btn btn-danger mt-3"
               data-bs-toggle="modal"
               data-bs-target="#exampleModal">Удалить</button>

        <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вы уверены что хотите удалить</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <a href="/admin/{{ article.id }}/del" class="btn btn-danger">Удалить</a>
                  </div>
                </div>
              </div>
            </div>

    </form>

<div class="container">
    <hr>
            <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Трек Номер</th>
                      <th scope="col">Пункт</th>
                      <th scope="col">Название товара</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for el in piars %}
                        <tr>
                          <td>{{ el.trackcode }}</td>
                          <td>{{ el.point }}</td>
                          {% if el.item_name != none %}
                          <td>{{ el.item_name }}</td>
                          {% endif %}
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
{% endblock %}
</div>>
